.hidden-content {
	display: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 60%;
	height: 60%;
	margin: auto;
	background: #FFF;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
}

.modal-wrapper {
	overflow: auto;
	height: 100%;
}

.modal-content {
	padding: 1em;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
